h1	{
text-align: center;
font-weight: 800;
}
table	{
	margin: auto;
}
td {
	height: 100px;
	width: 100px;
}

.vertical{
	border-right: 2px solid black;
	border-left: 2px solid black;
}

.horizontal{
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}
